Flask
Werkzeug
Jinja2
MarkupSafe
itsdangerous
click>=8.0.0
gunicorn
Flask-WTF
Flask-Talisman
Flask-Limiter
Flask-Session
limits
PyJWT
cryptography
Flask-Mail
resend
pywebpush
firebase_admin
APScheduler
pytz
razorpay
numpy
pandas
openpyxl
reportlab
pillow
qrcode
python-json-logger
requests
urllib3
python-dotenv
python-dateutil
pydantic
alembic
psycopg2-binary
pyotp
supabase
zcatalyst_sdk
